<h2> Subs 4 U <%= current_user.username %></h2>


<strong><%= @sub.title %></strong>
<br>
<%= @sub.description %>
<br>
<br>

<% if logged_in? && current_user.id == @sub.moderator_id %>
<form action="<%= edit_sub_url(@sub.id)%>" method="GET">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<button>Edit</button>
</form>

<% @sub.posts.each do |post| %>
    <%= post.title %>

<form action="<%= edit_sub_post_url(post.id)%>" method="GET">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<button>Edit Post</button>
</form>

<% end %>
<%end%>


